<html lang="en">
  <head>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimal-ui"
    />

    <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

    <script
      src="https://kit.fontawesome.com/a4d4c4635d.js"
      crossorigin="anonymous"
    ></script>

    <style>
      {{{css}}}
    </style>

  </head>
  <body>
    <div id="resume">

      {{#resume.basics}}
        <header class="divided">
          <div>
            <h1>{{name}}</h1>
            <a class="link" href="mailto:{{email}}">
              <i class="fas fa-envelope"></i>
              {{email}}
            </a>
          </div>

          <ul>
            {{#each profiles}}
              <li>
                <a class="link" href="{{url}}">
                  <i class="{{concat 'fa-brands fa-' network}}"></i>
                  {{formatLink url}}</a>
              </li>
            {{/each}}
          </ul>
        </header>
      {{/resume.basics}}

      {{#if resume.work.length}}
        <h2>Experience</h2>
        <section id="work">
          {{#each resume.work}}
            <div class="item">
              <div>
                <div class="divided">
                  <div>
                    <h3>
                      {{name}}
                    </h3>

                    |

                    <h4>
                      {{position}}
                    </h4>
                  </div>

                  <span class="subtitle">
                    {{time}}
                  </span>
                </div>

                <div class="divided" id="position">
                  <span class="summary">
                    {{summary}}
                  </span>
                  <span class="subtitle">
                    {{location}}
                  </span>
                </div>
              </div>

              {{#if highlights.length}}
                <ul class="item-section highlights">
                  {{#each highlights}}
                    <li>{{{markdown this}}}</li>
                  {{/each}}
                </ul>
              {{/if}}

              {{#if urls.length}}
                <div class="item-section">
                  {{#each urls}}
                    <a class="link" href="{{url}}">
                      <i class="{{icon}}"></i>
                      {{formatLink url}}</a>
                  {{/each}}
                </div>
              {{/if}}
            </div>
          {{/each}}
        </section>
      {{/if}}

      {{#if resume.education.length}}
        <h2>Education</h2>
        <section id="education">
          {{#each resume.education}}
            <div class="item">
              <div class="divided">
                <h3>
                  {{institution}}
                </h3>

                <span class="subtitle">
                  {{time}}
                </span>
              </div>

              <h4 class="summary">
                {{area}}
              </h4>
            </div>
          {{/each}}
        </section>
      {{/if}}

      {{#if resume.projects.length}}
        <h2>Projects</h2>
        <section id="projects">
          {{#each resume.projects}}
            <div class="item">
              <div class="item-section">
                <div class="divided">
                  <div>
                    <h3>
                      {{name}}
                    </h3>&nbsp;

                    <span class="summary">
                      {{description}}
                    </span>
                  </div>

                  <span class="subtitle">
                    {{time}}
                  </span>
                </div>
              </div>

              <div class="divided">
                <div>
                  {{#each highlights}}
                    {{{markdown this}}}
                  {{/each}}
                </div>

                <ul class="link-list">
                  <li>
                    {{#if url}}
                      <a class="link" href="{{url}}">
                        <i class="{{concat 'fa-brands fa-github'}}"></i>
                        {{formatLink url}}</a>
                    {{/if}}
                  </li>

                  {{#if demo}}
                    <li>
                      <a class="link" href="{{demo}}">
                        <i class="{{concat 'fa-solid fa-link'}}"></i>
                        {{formatLink demo}}</a>
                    </li>
                  {{/if}}
                </ul>
              </div>
            </div>
          {{/each}}
        </section>
      {{/if}}

      {{#if resume.skills.length}}
        <h2>Technical Skills</h2>
        <section id="skills">
          {{#each resume.skills}}
            <div class="item">
              <div class="inline-list-container">
                <h3>
                  {{name}}:
                </h3>

                {{#if keywords.length}}
                  <ul class="inline-list">
                    {{#each keywords}}
                      <li>{{{this}}}</li>
                    {{/each}}
                  </ul>
                {{/if}}
              </div>
            </div>
          {{/each}}
        </section>
      {{/if}}

      {{#resume.basics}}
        <footer>
          <div>
            {{name}}
            Resume v{{version}}

            built with&nbsp;
            <a href="https://jsonresume.org/">
              JSON Resume
            </a>
          </div>

          {{#if source}}
            <a class="link" href="{{source}}">
              <i class="fa-brands fa-github"></i>
              {{formatLink source}}</a>
          {{/if}}

        </footer>
      {{/resume.basics}}
    </div>
  </body>
</html>